name: Unit Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  lint:
    uses: sxzz/workflows/.github/workflows/unit-test.yml@v1
    with:
      skip-test: true

  test-nodejs:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        node: [22.15, 22, 24, 25]
      fail-fast: false

    steps:
      - name: Setup JS
        uses: sxzz/workflows/setup-js@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Build
        run: pnpm run build

      - name: Test
        run: pnpm run test

  test-bun:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2

      - name: Install Dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test:bun
